/*Stylesheet for the Meet Our Team Tab*/
/*Credit for background animation: @designtorch2020 codepen*/
/*Credit for glass-morphism card: @designtorch2020 codepen*/





.card-container{
    /*padding: 20px;*/
    /*min-height: 50vh;*/
    /*background-color: #0E315C;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    /*border-radius: 10px; !* Adjust the value to control the level of smoothness *!*/

    margin: 20px;

    /*you can add a border here using padding*/
    /*padding: 5px;*/

    width: 300px;
    /*background-color: rgb(0,0,0,0.5);*/
    /*box-shadow: 0 5px 20px rgba(0,0,0,0.05);*/
       background: radial-gradient(
          140% 140% at 0% 0%,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0) 75%
        );
        /*border-top: 1px solid #eeeded70;*/
        /*border-left: 1px solid #eeeded70;*/
        border-radius: 35px;
        box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(30px);

}


.card img{
    /*make the img smaller to fit card*/
    /*margin: 10px 0 0 0;*/
    border-radius: 30px; /* Adjust the value to control the level of smoothness */

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.card-info{
    padding:0;
    margin: 0;
    text-align: center;

}

.card-info h6{
    margin: 3px 0 0 0;
    /*margin-bottom: 3px;*/
    font-size: 16px;
    font-weight: 700;
    /*Raleway*/
    font-family: sans-serif;
    /*can take off*/
    text-transform: capitalize;
}

.card-info span{

    /*margin-bottom: 5px;*/
    color: #4169E1;
    font-size: 13px;
    font-weight: 400;
    /*Poppins*/
    font-family: sans-serif;

}


/*
possible grid template
(for e-board)
https://www.youtube.com/watch?v=78aWIBhVqoU
(more grid templates)
https://www.youtube.com/watch?v=rnhoY5Cdmy0
*/


/*Future problems:
- figure out how to have them in the exact same size */

/*Animated background*/

.structure::before{
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 100%;
  box-shadow: 0 -150px 400px #000044;
  position: fixed;
  bottom: -50%;
  left: 25%;
  z-index: -1;
}

.structure::after{
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 100%;
  box-shadow: 0 150px 300px #000044;
  position: fixed;
  top: -50%;
  left: 25%;
  z-index: -1;
  animation: animate_1 10s infinite;
}

.container::before{
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 0 500px 450px #000000;
  position: fixed;
  top: 0;
  left: -50%;
  z-index: -1;
  animation: animate_2 10s infinite;
}

.container::after{
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 0 500px 450px #000000;
  position: fixed;
  top: 0;
  right: -50%;
  z-index: -1;
  animation: animate_3 10s infinite;
}

/* Let's Create Animation */
@keyframes animate_1{
  25%{
    box-shadow: 0 150px 300px #000044;
  }
  50%{
    box-shadow: 0 150px 300px #000000;
  }
  75%{
    box-shadow: 0 150px 300px #000000;
  }
  100%{
    box-shadow: 0 150px 300px #000044;
  }
}

@keyframes animate_2{
  25%{
    box-shadow: 0 0 500px 450px #000000;
  }
  50%{
    box-shadow: 0 0 500px 450px #000000;
  }
  75%{
    box-shadow: 0 0 500px 450px #000044;
  }
  100%{
    box-shadow: 0 0 500px 450px #000000;
  }
}

@keyframes animate_3{
  25%{
    box-shadow: 0 0 500px 450px #000000;
  }
  50%{
    box-shadow: 0 0 500px 450px #000044;
  }
  75%{
    box-shadow: 0 0 500px 450px #000000;
  }
  100%{
    box-shadow: 0 0 500px 450px #000000;
  }
}

/*end of Animated background settings*/